<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div class="container">

    <div class="d-flex justify-content-center">
        <div class="container">
            <h2 class="d-flex justify-content-center p-5">Employee List</h2><br>
            <table class="table table-striped " th:object="${employeeList}">
                <thead>
                <tr>
                    <td scope="col">First Name</td>
                    <td scope="col">Last Name</td>
                    <td scope="col">Age</td>
                    <td scope="col">Address</td>
                    <td scope="col">City</td>
                    <td scope="col">State</td>
                    <td scope="col">Zip Code</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="theEmployee : ${employeeList}" >
                    <td th:text="${theEmployee.firstName}"></td>
                    <td th:text="${theEmployee.lastName}"></td>
                    <td th:text="${#execInfo.getNow().get(1)-theEmployee.birthday.getYear()}"></td>
                    <td th:text="${theEmployee.address+' '+theEmployee.address2}"></td>
                    <td th:text="${theEmployee.city}"></td>
                    <td th:text="${theEmployee.state}"></td>
                    <td th:text="${theEmployee.zipCode}"></td>
                </tr>
                </tbody>
            </table>
                    </div>


    </div>
</div>


</body>
</html>